.box{
  box-sizing: border-box;
  background-color: #49514c;
  width: 90%;
  margin: 2% 5%;
  padding: 2%;
  float: left;
}
.imgbox{
  box-sizing: border-box;
  background-color: #49514c;
  width: 90%;
  margin: 2% 5%;
  padding: 2%;
  float: left;

}

.inside-box{
    background-color: #6e9b8a;
    padding: 5%;
    height: 100%;
}

.inside-box h2{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: color;
    -webkit-transition: color 0.5s;
}

a:hover{
    text-decoration: none;
    color: #294429;
}

.row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
}
.col{
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
