.box{
  box-sizing: border-box;
  background-color: #49514c;
  width: 90%;
  padding: 2%;
  float: left;
}
.imgbox{
  box-sizing: border-box;
  background-color: #49514c;
  width: 90%;
  margin: 2% 5%;
  padding: 2%;
  float: left;

}

.imgLeft {
    float: left;
    padding-right: 2%;
}

.imgRight {
    float: right;
    padding-left: 2%;
}

#still-creek1 {
    width: 42%;
}

#still-creek2 {
    width: 42%;
}

.inside-box{
    background-color: #6e9b8a;
    padding: 2%;
    height: 100%;
}

.inside-box h2{
    margin-top: 0;
}

.problem-text {
    margin-top: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: color;
    -webkit-transition: color 0.5s;
}

a:hover{
    text-decoration: none;
    color: #294429;
}