.outside{
    box-sizing: border-box;
    background-color: #333;
    width: 45%;
    padding: 1.75%;
    float: left;
}

.other{
    margin-left: 2%;
}

.row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.col{
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.text-box{
    clear: both;
    width: 100%;
    background-color: #1abc9c;
    margin: 40px auto 0 auto;
    padding: 2%;
    position: relative;
}

.text{
    overflow: auto;
}

.text h2{
    margin: 0;
}


.slideshow{
    margin: 0;
}

.slider {
    width: 45%;
    margin: 2% auto;
}

.slick-slide {
    margin: 0px 10px;
    outline: none;
}

.slick-slide img {
    width: 100%;
}
