h1{
    color: white;
}

.outside{
    box-sizing: border-box;
    background-color: #333;
    width: 90%;
    margin: 5%;
    padding: 1.75%;
    float: left;
}

.text-box{
    float: right;
    width: 58%;
    background-color: #1abc9c;
    margin-left: 2%;
    padding-top: 50%;
    position: relative;
}

.text{
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    overflow:auto;
}

.slideshow{
    float: left;
}

.slider {
    width: 40%;
    margin: 2% auto;
}

.slick-slide {
    margin: 0px 10px;
    outline: none;
}

.slick-slide img {
    width: 100%;
}
