*{
    box-sizing: border-box;
}

.row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.col{
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.tab {
    overflow: hidden;
    width: 100%;
    float: right;

}

.tab button {
    font-family: 'Bellefair', serif;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1%;
    transition: 0.3s;
    font-size: 22px;
    z-index: 1;
    float: left;
    width: 33.3333%;
    color: white;
}

.tabcontent {
    float: right;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    width: 100%;
}
.tabcontent img{
    width: 45%;
    float: left;
}

.tabbox{
    width: 52.5%;
    float: right;
    display: inline-block;
    position: relative;
}

.tabtext{
    padding: 2%;
    padding-right: 3%;
}

.tabtext h2{
    margin: 0;
}

.tabtext p{
    margin-top: 1%;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.side {
    float: left;
    width: 10%;
}

.side button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
    float: left;
    width: 100%;
    padding: 5%;
}


.sidecontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    width: 90%;
    float:left;
    padding: 2%;
}
.side button img{
    width: 100%;
    float: left;
}
#dig2 {
    color: #473a2e;
}
#dig1 button{
    background-color: #b2815c;
}
#dig1 button:hover{
    background-color: #8e6647;
}
#dig1 button.active{
    background-color: #afa095;
}

#dig button{
    background-color: #b2815c;
}
#dig button:hover{
    background-color: #aa7a55;
}
#dig button.active{
    background-color: #8e6647;
}

#cover2{
    color: #302b30;
}
#cover1 button{
    background-color: #6d696d;
}
#cover1 button:hover{
    background-color: #474347;
}
#cover1 button.active{
    background-color: #a39ea3;
}

#cover button{
    background-color: #6d696d;
}
#cover button:hover{
    background-color: #544f54;
}
#cover button.active{
    background-color: #474347;
}

#weedkiller2{
    color: #274244;
}
#weedkiller1 button{
    background-color: #aeebf2;
}
#weedkiller1 button:hover{
    background-color: #5e959b;
}
#weedkiller1 button.active{
    background-color: #eafdff;
}

#weedkiller button {
    background-color: #aeebf2;
}
#weedkiller button:hover{
    background-color: #8cc7ce;
}
#weedkiller button.active{
    background-color: #5e959b;
}
#bio2{
    color: #1c3d20;
}

#bio1 button{
    background-color: #aee2ae;
}
#bio1 button:hover{
    background-color: #82b282;
}
#bio1 button.active{
    background-color: #d7f7d7;
}

#bio button{
    background-color: #aee2ae;
}
#bio button:hover{
    background-color: #91c191;
}
#bio button.active{
    background-color: #82b282;
}