*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
    background: #1abc9c;
}

.container {
    padding: 80px;
}

.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #333;
    background-color: rgba(0,0,0,0);
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-left-width: 150px;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 35px;
    height: 50px;
    cursor: pointer;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 8%;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.bt-menu-trigger span:first-of-type,
.bt-menu-trigger span:last-of-type {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.bt-menu-trigger span:first-of-type  {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:last-of-type {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:first-of-type {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.bt-menu-open .bt-menu-trigger span:last-of-type {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.bt-menu ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 75px;
    left: 0;
    width: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
    display: block;
}

.bt-menu ul:nth-of-type(2) li {
    float: left;
    font-size: 0px;
}

bt-menu.bt-menu-open ul {
    width: 100%;
}

.bt-menu ul li {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    -webkit-transition: opacity 0.2s, visibility 0s 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.2s, visibility 0s 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s, -webkit-transform 0.3s;
}

.bt-menu.bt-menu-open ul li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

/* First menu */
.bt-menu ul li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.bt-menu.bt-menu-open ul li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    text-decoration: none;
}

.bt-menu ul li a {
    padding: 0 20px;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul li:last-child a {
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul li a:before {
    color: #fff;
    font-size: 24px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
    color: #1abc9c;
}