*{
  box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid #6d9165;
    background-color: #e5f7e1;
    width: 100%;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    z-index: 1;
    float: left;
    width: 33.3333%;
}

.tab button:hover {
    background-color: #9aba93;
}

.tab button.active {
    background-color: #6d9165;
}

.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    width: 100%;
    background-image:;

}
img{
  width: 60%;
  float: left;
}
.tabbox{
  width: 40%;
  float: right;
  background-color: #9aba93;
  padding-top: 24%;
  display: inline-block;
  position: relative;
}
.tabtext{
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  overflow: scroll;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

button.accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 2%;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
   margin: 2%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
   background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
   padding: 0 7%;
   background-color: none;
   display: none;
}

p{

}
