/*Grid Stylesheet*/

*, *::after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class^='grid-col-']{
    float: left;
    padding: 0;
    text-align: center;
}

.grid-col-50{
    width: 50%;
}

.grid-col-20{
    width: 20%;
}

.grid-row::after{
    clear: both;
    display: block;
    content: "";
}

@media(max-width: 50em){
    .grid-col-50{
        width: 100%;
    }
    
    .grid-col-20{
        width: 33.333%;
    }
}

@media(max-width: 31em){
    .grid-col-20{
        width: 100%;
    }
}