h1{
    color: white;
}
.outside{
  box-sizing: border-box;
  background-color: #333;
  width: 90%;
  margin: 5%;
  padding: 2%;
  float: left;
}
.text-box{
  float: right;
  width: 58%;
  background-color: #1abc9c;
  margin-left: 2%;
  padding-top: 40%;
  position: relative;
  display: inline-block;
  overflow-y: scroll;
}
.text{
position: absolute;
top: 5%;
left: 5%;
bottom: 5%;
right: 5%;
}
.slideshow{
  float: left;
}
